<template name="postItem">
	<div class="post">
		<div class="votes">
			<a href="#" class="upvote {{upvotedClass}} "> ^ </a>
			<span class="tally">{{votes}}</span>
		</div>
		<div class="post-content">
			<div class="post-title">
				<a href="{{url}}">{{title}}</a>
				<span class="source-url">{{domain}}</span>
			</div>
			<p class="post-meta">
				Posted by 
				<a href="#" class="author">{{author}}</a> 
				x minutes ago -  
				<a href="{{pathFor 'postPage'}}" class="comment-count">{{pluralize commentsCount "comment"}}</a>
				{{#if ownPost}}<a href="{{pathFor 'postEdit'}}" class="edit">Edit</a>{{/if}}
			</p>
		</div>
	</div>
</template>
