<template name="header">
  <header class="top">
    <div class="top-header">
      <a class="branding" href="{{pathFor 'home'}}">
        <h1>Cresc.</h1>
      </a>
      {{#if currentUser}}
        <a href="{{pathFor 'postSubmit'}}" class="btn submit">Submit Link</a>
      {{/if}}
    </div>
    <div class="bottom-header">
      <nav class="main-nav">
        <ul class="inline-items">
          <li class="{{activeRouteClass 'home' 'newPosts'}}">
            <a href="{{pathFor 'newPosts'}}">New</a>
          </li>
          <li class="{{activeRouteClass  'bestPosts'}}">
            <a href="{{pathFor 'bestPosts'}}">Best</a>
          </li>
          {{#if currentUser}}
            <li class="dropdown">
              {{>notifications}}
            </li>
          {{/if}}
        </ul>
      </nav>
      <div class="user-section">
        {{> accountButtons }}
      </div>
    </div>
  </header>
</template>
